@use "vuetify/settings" with (
  $body-font-family: "Caviar Dreams",
  $heading-font-family: "Caviar Dreams"
);

@font-face {
  font-family: "Caviar Dreams";
  src: url("/assets/fonts/Caviar/CaviarDreams.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("/assets/fonts/Caviar/CaviarDreams_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("/assets/fonts/Caviar/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("/assets/fonts/Caviar/CaviarDreams_BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
